<div class="flex min-h-screen text-green-400">

  <!-- SIDEBAR -->
  <app-sidebar (navigate)="setSection($event)"></app-sidebar>

  <!-- CONTEÚDO -->
  <div class="flex-1 p-10 relative z-10 bg-black/70 backdrop-blur-sm">

    <!-- HEADER -->
    <div class="mb-10">
      <h1 class="text-4xl font-bold glitch" data-text="Jaiza.exe">
        Jaiza.exe
      </h1>

      <p class="text-green-500 mt-2 text-sm opacity-80">
        > building systems, not just interfaces_
      </p>
    </div>

    <!-- HOME (TERMINAL) -->
    <div [hidden]="section !== 'home'">
      <app-terminal (navigate)="setSection($event)"></app-terminal>
    </div>

    <!-- PROJECTS -->
    <div *ngIf="section === 'projects'" class="grid md:grid-cols-2 gap-6">

      <div class="p-6 border border-green-900 rounded-lg 
                  hover:shadow-[0_0_25px_#00ff9f] 
                  hover:-translate-y-1 
                  transition duration-300">

        <h3 class="text-green-300 text-lg">Portfolio Matrix</h3>
        <p class="text-gray-400 text-sm mt-2">
          Angular + Tailwind + UI futurista
        </p>
      </div>

      <div class="p-6 border border-green-900 rounded-lg 
                  hover:shadow-[0_0_25px_#00ff9f] 
                  hover:-translate-y-1 
                  transition duration-300">

        <h3 class="text-green-300 text-lg">API Clínica</h3>
        <p class="text-gray-400 text-sm mt-2">
          Node.js + Express
        </p>
      </div>

    </div>

    <!-- SKILLS -->
   <div *ngIf="section === 'skills'" class="space-y-6 max-w-xl">

  <div class="border border-green-900 p-4 rounded hover:shadow-[0_0_15px_#00ff9f] transition">
    <h3 class="text-green-300 font-bold">Frontend Development</h3>
    <p class="text-sm text-gray-400 mt-2">
      Desenvolvimento de interfaces modernas com Angular, foco em performance, organização de componentes e experiência do usuário.
    </p>
  </div>

  <div class="border border-green-900 p-4 rounded hover:shadow-[0_0_15px_#00ff9f] transition">
    <h3 class="text-green-300 font-bold">Networking & Cybersecurity</h3>
    <p class="text-sm text-gray-400 mt-2">
      Estudos em infraestrutura de redes, protocolos de comunicação e práticas de segurança digital para proteção de dados e sistemas.
    </p>
  </div>

  <div class="border border-green-900 p-4 rounded hover:shadow-[0_0_15px_#00ff9f] transition">
    <h3 class="text-green-300 font-bold">UI/UX Design</h3>
    <p class="text-sm text-gray-400 mt-2">
      Criação de interfaces intuitivas, responsivas e visualmente impactantes, priorizando usabilidade e estética.
    </p>
  </div>

  <div class="border border-green-900 p-4 rounded hover:shadow-[0_0_15px_#00ff9f] transition">
    <h3 class="text-green-300 font-bold">Backend & APIs</h3>
    <p class="text-sm text-gray-400 mt-2">
      Desenvolvimento de APIs com Node.js, integração com bancos de dados e organização de lógica de negócio.
    </p>
  </div>

  <div class="border border-green-900 p-4 rounded hover:shadow-[0_0_15px_#00ff9f] transition">
    <h3 class="text-green-300 font-bold">Soft Skills</h3>
    <p class="text-sm text-gray-400 mt-2">
      Comunicação clara, aprendizado rápido, adaptabilidade e foco na resolução de problemas.
    </p>
  </div>

</div>

    <!-- CONTACT -->
   <div *ngIf="section === 'contact'" class="space-y-6 max-w-md">

  <p class="text-green-400 text-lg">
    Vamos construir algo incrível juntos.
  </p>

  <!-- LINKEDIN -->
    <a href="https://linkedin.com/in/jaiza-freire-vn"
     target="_blank"
     class="block p-4 border border-green-900 rounded 
            hover:bg-green-400 hover:text-black transition">

    <h3 class="font-bold">LinkedIn</h3>
    <p class="text-sm opacity-70">
      Conecte-se comigo profissionalmente
    </p>
  </a>

  <!-- GITHUB -->
  <a href="https://github.com/vanysai"
     target="_blank"
     class="block p-4 border border-green-900 rounded 
            hover:bg-green-400 hover:text-black transition">

    <h3 class="font-bold">GitHub</h3>
    <p class="text-sm opacity-70">
      Veja meus projetos e códigos!
    </p>
  </a>

  <!-- EMAIL -->
  <a href="mailto:jaizamsf@gmail.com"
     class="block p-4 border border-green-900 rounded 
            hover:bg-green-400 hover:text-black transition">

    <h3 class="font-bold">Email</h3>
    <p class="text-sm opacity-70">
      Entre em contato direto!
    </p>
  </a>

</div>
</div>