<div class="bg-black border border-green-500 p-5 rounded-lg
            h-[400px] overflow-y-auto
            text-green-400 font-mono text-sm">

  <!-- HISTÓRICO -->
  <div *ngFor="let line of history">
    {{ line }}
  </div>

  <!-- INPUT -->
  <div class="flex mt-3">
    <span>&gt;</span>

    <input
      [(ngModel)]="input"
      (keydown.enter)="handleCommand()"
      class="bg-transparent outline-none ml-2 w-full text-green-400"
      placeholder="type command..."
    />
  </div>

</div>